<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Local - Travel recommendations that don't suck</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="http://bulma.io/css/bulma-docs.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/_favoriteBar.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/indexCard.js"></script>
</head>
<footer class="footer">
      <div class="container favorites">
        <div class="columns">
          <div class="column is-2">
            <label class="label has-text-centered"><h6 class=subtitle is-6>Hiking Duncan's Cove</h6>
            <img src="http://bulma.io/images/placeholders/480x480.png" alt="Image">
            </img>
            </label>
          </div>
        </div>
      </body>
    </div>
  </footer>