<div class="filter has-text-centered">
  <span class="filter-brand"><h1>Filters</h1></span>
    <span class="filter-toggle">
    <a><span class="icon fa fa-chevron-down"></span></a>
  </span>
  <span class="filter-details">
    <div class="filter-content">
      <h3>Radius</h3>
      <a class="button is-medium">Street</a>
      <a class="button is-medium">Neighborhood</a>
      <a class="button is-medium">City</a>
      <h3>Category</h3>
      <a class="button is-medium">
        <span class="header">Nature</span>
        <span class="icon is-medium">
        <i class="fa fa-tree"></i>
      </a>
      <a class="button is-medium">
        <span class="header">Food</span>
        <span class="icon is-medium">
        <i class="fa fa-cutlery"></i>
      </a>
      <a class="button is-medium">
        <span class="header">Shopping</span>
        <span class="icon is-medium">
        <i class="fa fa-shopping-bag"></i>
      </a>
      <a class="button is-medium">
        <span class="header">Sights</span>
        <span class="icon is-medium">
        <i class="fa fa-binoculars"></i>
      </a>
    </div>
  </span> 
</div>