<div class="filter has-text-centered">
  <span class="filter-toggle">
    <a class="icon is-large"><i class="fa fa-chevron-down"></i></a>
  </span>
  <h4 class="filter-brand title is-4">filters</h4>
  <div class="filter-content">
    <div class="columns">
      <div class="column">
        <div class="column">
          <h5 class="title is-5">Radius</h5>
        </div>
        <div class="column">
          <a class="button is-small">Street</a>
        </div>
        <div class="column">
          <a class="button is-small">Neighborhood</a>
        </div>
        <div class="column">
          <a class="button is-small">City</a>
        </div>
      </div>
      <div class="column">
        <h5 class="title is-5">Category</h5>
        <div class="column">
          <a class="button is-small">
            <span class="header">Nature</span>
            <span class="icon is-small"></span>
            <i class="fa fa-tree"></i>
          </a>
        </div>
        <div class="column">
          <a class="button is-small">
            <span class="header">Food</span>
            <span class="icon is-small"></span>
            <i class="fa fa-cutlery"></i>
          </a>
        </div>
        <div class="column">
          <a class="button is-small">
            <span class="header">Shopping</span>
            <span class="icon is-small"></span>
            <i class="fa fa-shopping-bag"></i>
          </a>
        </div>
        <div class="column">
        <a class="button is-small">
          <span class="header">Sights</span>
          <span class="icon is-small"></span>
          <i class="fa fa-binoculars"></i>
        </a>
        </div>
      </div>
    </div>
  </div>
</div>