<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image">
    </figure>
  </div>
  <span class="card-toggle"><a>^</a></span>
  <div class="card-content">
    <span class="icon is-pulled-right">
      <i class="fa fa-star" aria-hidden="true"></i> 
    </span>
    <div class="media">
      <div class="media-content">
        <p class="title is-5">Hiking Duncan's Cove</p>
        <p class="subtitle is-6"><a>Duncan's Cove, Nova Scotia</a><p>
        <small>Recommended duration: ~3 hours</small>
      </div>
    </div>
    <span class="card-details">
      <small>
        <span class="icon is-small"><i class="fa fa-tree" aria-hidden="true"></i></span> Outdoors<br>
      </small>
      <div class="content">
        <p class="subtitle is-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Phasellus nec iaculis mauris ipsum dolor sit amet.</p>
      </div>
    </span> 
  </div>
</div>