<div class="card">
  <!--<div class="card-image">
    <figure class="image is-1by1">
      <img src="http://bulma.io/images/placeholders/480x480.png" alt="Image">
    </figure>
  </div>-->
  <div class="content-container">
    <!--<span class="icon is-pulled-right">
      <span class="fa fa-star" aria-hidden="true"></span> 
    </span>-->
    <!--<span class="card-toggle">
      <a><span class="icon fa fa-chevron-up chev-rotate-again"></span></a>
    </span>-->
    
  </div>
</div>