<div class="landing-content">
  <div class="columns has-text-centered">
    <div class="column is-10 is-offset-1">
       <div class="field landing">
        <label class="label">hello!</label>
        <p class="control landing">
          <input class="input" type="text" placeholder="Where do you want to go?">
        </p>
      </div>
    </div>
  </div>
</div>