.add-card{
    width: 60%;
    margin: auto;
    max-width: 40%;
    .modal-card-head, .modal-card-foot {
      background-color: white !important;
    }
  .modal {
    overflow: visible;
    margin-left: 32%;
    margin-right: 32%;

  .icon{
    height: 30px !important;
    font-size: 12px;
    .fa{
      color: $light-grey;
    }
    }
    label{
      font-size: .9em !important;
    }
    .modal-card-body{
      padding: 15px !important;
      padding-top: 3px !important;
      min-height: 100% !important;
      padding-bottom: 40px;
    }
  }
  .geosuggest{
    margin: 0px;
    background-color: white;
  }
  .geosuggest__input{
    padding-left: 30px;
  }
  .geosuggest_suggests{
    position: relative !important;
  }
  .fa {
    padding-bottom: 6px;
  }
  input{
    border-color: $orange !important;
    &:focus{
      border-color: $green !important;
    }
  }
}