.accent-font {
  font-family: 'Amatic SC', cursive;
  margin-top: 5px;
  font-size: 3em;
  padding-bottom: 0px;
  width: 100%;
  color: white;
}

.input {
  font-size: .8em;
}

.homepage-image {
  transition: all .1s ease-in-out !important;
  position: relative;
  margin-top:-60px;
  z-index: -5;
  object-fit: cover;
  width: 100%;
  max-width: 1400px;
  max-height: 600px;
  z-index: -100;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
}

.landing-content{
  overflow: hidden;
  justify-content: center;
  top: 11em;
  width: 100%;
  transition: all 0.7s ease-in-out;
  // margin: 0% 2% 14%;
  .input {
    border-color:$dark-orange !important;
    &:focus{
      border-color:$green;
    }
  }
  .brand img {
    width: 80%;
  }
}

.page-toggle{
  text-align: center;
  margin: 15px 40px 20px;
  line-height: 28px;

  h1 {
    font-size: 1.4em;
    font-weight: 400;
  }
  h2 {
    font-size: .9em;
    padding-bottom:10px;
  }
  .modal-card-body{
    padding: 25px !important;
    // min-height: 100% !important;
    padding-bottom: 40px;
  }
}

.cards-container {
  margin-bottom: 0px !important;
  font-size: 2.5em;
  h3{
    font-size: 1em;
    color: $dark-grey;
    font-family: 'Amatic SC', cursive !important;
  }
}

.geosuggest {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  font-size: 1rem;
  position: relative;
  width: 100%;
  margin: 1em auto;
  text-align: left;
}
.geosuggest__input {
  border-color: #FCB737 !important;
  font-size: .8em;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 2.25em;
  max-width: 100%;
  width: 100%;
  width: 100%;
  border: 1px solid transparent;
  padding-left: 1em;
  -webkit-transition: border 0.2s, box-shadow 0.2s;
  transition: border 0.2s, box-shadow 0.2s;
}
.geosuggest__input:focus {
  border-color: $green !important;
  box-shadow: 0 0 0 transparent;
  outline: none;
}
.geosuggest__suggests {
  position: relative;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  background: #fff;
  border: 1px solid $green;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
          transition: max-height 0.2s, border 0.2s;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

/**
 * A geosuggest item
 */
.geosuggest__item {
  font-size: 18px;
  font-size: 1rem;
  padding: .5em .65em;
  cursor: pointer;
}
.geosuggest__item:hover,
.geosuggest__item:focus {
  background: #f5f5f5;
}
.geosuggest__item--active {
  background: $green;
  color: #fff;
}
.geosuggest__item--active:hover,
.geosuggest__item--active:focus {
  background: #ccc;
}
.geosuggest__item__matched-text {
  font-weight: bold;
}
