<!DOCTYPE html>
<html lang="en">
    <% include partials/_head.ejs %>
    <% include partials/_navbar.ejs %>
    <% include partials/_filters.ejs %>
  <body>
    <div class="all-cards"></div>
  </body>
</html>
