<!DOCTYPE html>
<html lang="en">
    <% include partials/_head.ejs %>
    <% include partials/_navbar.ejs %>
    <div class="columns">
      <div class="column is-two-thirds">
        <div class="field">
          <label class="label">Name</label>
          <p class="control">
            <input class="input" type="text" placeholder="Text input">
          </p>
        </div>
      </div>
    </div>
  </body>
</html>