<!DOCTYPE html>
<html lang="en">
    <% include partials/_head.ejs %>
    <% include partials/_navbar.ejs %>
    <% include partials/_filters.ejs %>
  <body>
    <div class="all-cards"></div>
  </body>

  <script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect('http://localhost');
  socket.on('news', function (data) {
    console.log(data);
    socket.emit('my other event', { my: 'data' });
  });
</script>
</html>
