.cards {
  margin: 7% 10%; }
  .cards .card {
    margin: 30px 20px 10px;
    width: 22%;
    min-width: 200px;
    max-width: 300px;
    display: inline-block;
    border: 0.5px solid #CCCCCC;
    box-shadow: none;
    background-color: #fff;
    overflow: none; }
    .cards .card .content-container {
      z-index: 20;
      margin-bottom: 10px;
      background-color: white;
      transition: 0.5s all ease-in-out; }
      .cards .card .content-container .icon-container {
        z-index: 100;
        background-color: white;
        text-align: center;
        padding: 10px; }
        .cards .card .content-container .icon-container a {
          background-color: white; }
          .cards .card .content-container .icon-container a .card-toggle {
            cursor: pointer;
            background-color: white; }
      .cards .card .content-container .expanded .content-container {
        transition: 0.5s all ease-in-out !important;
        margin-top: 0% !important;
        margin-bottom: 20px !important;
        height: 300px !important; }
      .cards .card .content-container .expanded .card-image {
        height: 0px !important;
        overflow: hidden !important;
        transition: 0.5s all ease-in-out !important; }
      .cards .card .content-container .expanded .content {
        transition: all 0.5s ease-in-out !important; }
    .cards .card .card-content {
      padding: 0;
      z-index: 10;
      transition: 0.5s all ease-in-out !important; }
      .cards .card .card-content .duration {
        font-size: .7em; }
      .cards .card .card-content .media {
        margin: 0px; }
    .cards .card a {
      color: #00caba; }
      .cards .card a:hover {
        color: #00645c; }
    .cards .card .content {
      height: auto; }
    .cards .card .fa-star {
      position: relative;
      top: 12px;
      color: #FCB737;
      box-shadow: 1px grey; }
      .cards .card .fa-star:hover {
        color: #fba505;
        cursor: pointer; }
    .cards .card .title {
      font-size: 1.1em; }
    .cards .card .subtitle {
      font-size: .9em; }
    .cards .card small {
      font-style: italic;
      font-size: .7em; }
    .cards .card .card-details {
      display: none;
      font-size: 0.8em;
      padding-top: 10px;
      line-height: 15px;
      transition: all 0.5s ease-in-out; }
      .cards .card .card-details .description {
        transition: all 0.5s ease-in-out;
        font-size: 1em;
        padding-top: 8px; }
        .cards .card .card-details .description .rating {
          display: inline;
          margin: 40%;
          transition: all 0.5s ease-in-out; }
    .cards .card .card-toggle {
      margin-top: 10px;
      transition: 0.5s all ease-in-out !important; }
      .cards .card .card-toggle .fa-chevron-up {
        transition: all 0.5s ease-in-out;
        position: relative;
        top: 5px;
        left: 45%; }
      .cards .card .card-toggle .chev-rotate {
        transition: all 0.5s ease-in-out;
        transform: rotate(180deg); }
      .cards .card .card-toggle .chev-rotate-again {
        transition: all 0.5s ease-in-out;
        transform: rotate(360deg); }
    .cards .card .subtitle {
      margin-bottom: 5px; }
    .cards .card .card-image, .cards .card figure, .cards .card img {
      z-index: 1;
      transition: 0.5s all ease-in-out !important; }
    .cards .card .card-image {
      text-align: center;
      overflow: hidden;
      text-align: center;
      transition: all 0.5s ease-in-out; }
      .cards .card .card-image img {
        width: 280px; }

.columns {
  justify-content: center; }

.navbar {
  height: 5rem;
  padding-left: 10px; }
  .navbar .navbar-brand {
    margin: 13px 30px; }
    .navbar .navbar-brand .itinierary {
      overflow: hidden;
      transition: all 0.2s ease-in-out;
      color: #363636; }
      .navbar .navbar-brand .itinierary .fa {
        display: inline; }
      .navbar .navbar-brand .itinierary:hover {
        transition: all 0.2s ease-in-out;
        border-color: #00caba;
        color: #00caba;
        cursor: pointer; }
  @media screen and (max-width: 999px) {
    .navbar {
      overflow: visible; }
      .navbar .navbar-brand {
        margin: auto;
        display: inline-block; } }

.filter .columns {
  margin: 0px;
  padding-bottom: 0px;
  transition: all 0.6s ease-in-out; }
  .filter .columns .column {
    padding-top: 0px;
    transition: all 0.6s ease-in-out; }
.filter .filter-toggle {
  margin: auto;
  top: 5px;
  padding-top: 20px;
  transition: all 0.6s ease-in-out; }
  .filter .filter-toggle .fa-chevron-down {
    color: #00caba;
    transition: all 0.6s ease-in-out;
    left: 35%; }
    .filter .filter-toggle .fa-chevron-down:hover {
      transition: all 0.6s ease-in-out;
      color: #363636;
      cursor: pointer; }
.filter .filter-button {
  margin: 5px; }
  .filter .filter-button.active .button {
    background-color: #00caba; }
  .filter .filter-button.active .fa {
    color: black; }
.filter .filter-brand {
  transition: all .6s ease-in-out;
  margin: 0.3rem; }
.filter .title {
  margin-top: 1.5rem; }
.filter .button {
  margin: auto;
  border-radius: 10px; }
  .filter .button:hover {
    border-color: #00caba; }
.filter .filter-content {
  transition: all 0.6s ease-in-out;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: none; }

.landing-content {
  margin-top: 2rem; }
  .landing-content .input {
    border-color: #fba505; }
    .landing-content .input:focus {
      border-color: #00caba; }
  .landing-content .brand img {
    width: 80%; }

.columns {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem; }
  .columns .morning {
    margin-top: 1rem;
    height: 80px; }
  .columns .afternoon {
    margin-top: 12rem;
    height: 80px; }
  .columns .night {
    margin-top: 12rem;
    height: 80px; }
  .columns .media-content.large {
    height: 10rem; }
  .columns .fa {
    color: #00caba; }
  .columns .article.media.large {
    height: 10rem; }

.accent-font {
  font-family: 'Caveat Brush', cursive;
  font-size: 2.2em;
  padding-bottom: 20px;
  width: 100%; }

.footer .container {
  background-color: pink; }

.columns .media-content .large {
  background-color: pink; }

.is-rotated {
  transition: all 0.3s ease-in-out;
  transform: rotate(180deg); }

.visible {
  display: inline !important;
  transition: all 0.3s ease-in-out; }

/*# sourceMappingURL=layout.css.map */
