.navbar {
  position: fixed;
  top:0;
  right:0;
  left: 0;
  z-index: 200;
  padding: 5px 10px;
  padding-left: 10px;
  .navbar-brand {
    margin: 0px 30px;
    position: fixed;
    right: 0;
    .itinerary {
      overflow: hidden;
      a {
        transition: all 0.1s ease-in-out;
        color: $dark-grey;
        &:hover {
          border-color: $green;
          color: $green;
          cursor: pointer;
        }
      }
      .fa {
        display: inline;
      }
    }
  }
}
.fa-share-square-o{
  transform: rotate(180deg) !important;
}