<html lang="en">

  <body>
    <nav class="navbar">
      <div class="navbar-item">
          <a href="/"><img src="http://imgur.com/cyM42ng.png" alt="local - travel like you live there" width="75" height="28"></a>
        </a>

        <div class="navbar-burger burger" data-target="navMenuExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="navbar-end">
        <div id="navMenuExample" class="navbar-menu">
        <div class="navbar-item">
            <p class="control">
              <p class="field">
              <a class="button is-medium">
                <span class="icon is-large">
                  <i class="fa fa-map-o"></i><p> Itinerary</p>
                </span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </nav>
  </body>
</html>
