.favorites-container{
  transition: .7s all ease-in-out;
  height: 0px;
  font-size: 10px;
  overflow: hidden;
  .slider-container {
    margin: 0px 10%;
    padding: 20px;
    .slider {
      padding: 0px 70px 20px;
    }
    .card {
      transition: 2s all ease-in-out;
      font-size: 10px;
      text-align: left;
      margin: 15px 5px;
      width: 180px;
      padding: 6px;
      min-width: 160px;
      height: 235px;
      display: inline-block;
      border: 0.5px solid $light-grey;
      box-shadow: none;
      background-color: #fff;
      overflow: hidden;
      .content-container {
        height: 170px;
      }
      .card-content{
        padding-top: 20px;
        padding-left: 6px;
        .fa{
          color: $green;
          font-size: 11px;
          padding-top: 2px;
        }
        .fa-plus {
          transition: .2s all ease-in-out;
          font-size: 20px;
          padding-left: 45px;
          padding-bottom: 10px;
          color: $light-grey;
          &:hover{
            color: $green;
            cursor: pointer;
          }
        }
      }
      .card-image{
        img{
        height: 170px;
        }
      }
      .description{
        font-size: 9px;
        padding: 0px 5px;
        text-align: left;
      }
    }
  .columns{
    margin-top: 0px;
  }
  }
    .title {
      transition: all 1s ease;
      font-size: 15px;
      margin-bottom: 5px;
      margin-top: -8px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      line-height: 1;
    }
  .duration{
    padding-bottom: 0px;
  }
}
.set-height {
  height: 350px;
  transition: .7s all ease-in-out;
}

