.footer {
  background-color: pink;
  padding: 3rem 1.5rem 6rem;
  .label {
    .subtitle{
      color:pink;
    }
  }
  .subtitle {
    color: pink;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.25;
}
}
