.filter{
  h5{
    font-size: .5em;
  }
  .columns {
    margin-top: 20px;
    padding-bottom: 0px;
    .column {
      padding-top: 0px;
    }
  }
  .filter-toggle {
    margin:auto;
    top: 5px;
    padding-top: 20px;

    .fa-chevron-up {
      transition: all .7s ease-in-out;
      color: $green;
      left: 35%;
      font-size: 1em;
      &:hover {
        color: $dark-green;
        cursor: pointer;
      } 
    }
  }
  .filter-button {
    margin: 5px;
    line-height: 2.5;
    .button {
      font-size: .6em;
      &.is-active {
        background-color: $green;
        color: white;
        border-color: white;
      }
      &.is-active .fa {
        color: white;
      }
    }
  }
  .filter-brand{
    margin: 0.3rem;
    font-size: .8em;
  }
  .title {
    margin-top: 15px;
  }
  .button {
    margin: auto;
    border-radius: 10px;
    &:hover{
      border-color: $green;
    }
  }
  .filter-content {
    transition: all 2s ease-in-out;
    margin-bottom: 1rem; 
    max-height: 10px;
    overflow: hidden;
  }  
  .toggled-filter {
    max-height: 300px;
  }
}
