.cards {
  margin: 8% 10%;
  transition: 2s all ease-in-out !important;
  overflow: hiddden;
  font-size: 12px;
  .card {
    margin: 20px 10px 0px;
    width: 20%;
    min-width: 200px;
    max-width: 300px;
    max-height: 340px;
    display: inline-block;
    border: 0.5px solid $light-grey;
    box-shadow: none;
    background-color: #fff;
    overflow: hidden;
    transition: 2s all ease-in-out !important;

    .content-container {
      display: block;
      z-index: 20;
      margin-bottom: 10px;
      background-color: white;
      transition: 0.5s all ease-in-out;
      
      &.expanded {
        transition: 2s all ease-in-out !important;
        margin: 0% !important;
        height: 250px !important;
        .card-image {
          height: 20% !important;
          overflow: hidden !important;
          transition: 0.5s all ease-in-out !important;
        }
        .content {
          transition: all 0.5s ease-in-out !important;
        }
        .media-content{
          margin-top: 20px;
        }
      }

      .icon-container {
        z-index: 100;
        background-color: white;
        text-align: center;
        padding: 10px;
        
        a {
          background-color: white;
          .card-toggle {
            cursor: pointer;
            background-color: white;
          } 
        }
      }
    }

    .card-content {
      padding: 0;
      z-index: 10;
      transition: 0.5s all ease-in-out !important;
      .category{
        display: inline-flex;
        .fa {
          font-size: 1.2em;
          margin: 3px 8px 3px 2;
        }
      }
      .duration {
      font-size: .8em;
      padding: 8px 0;
      .fa {
        font-size: 1.2em;
        padding: 2px 0;
      }
      }
      .media{
        margin: 2px 0 0;
        font-size: 1em;
      }
    }

    a {
      color: $green;
      &:hover {
        color: $dark-green;
      } 
    }
    .content {
      height: auto;
    }

    .fa-star {
      font-size: 1.4em;
      position: relative;
      padding-top: 7px;
      color: $orange;
      box-shadow: 1px grey;
      &:hover{
        color: $dark-orange;
        cursor: pointer;
      }
    }
    .media-content {
      width: 170px;
    }

    .title {
      font-size: 1.4em;
      margin-bottom: 5px; 
      text-overflow: ellipsis; 
      overflow: hidden; 
      white-space: nowrap;
    }

    .subtitle {
      font-size: .9em;
    }

    small {
      font-style: italic;
      font-size: .7em;
    }

    .card-details {
      display: none;
      font-size: 0.8em;
      padding-top: 10px;
      line-height: 15px;
      transition: 2s all ease-in-out;
      .description{
        transition: all 0.5s ease-in-out;
        font-size: 1.3em;
        line-height: 1.3;
        padding: 15px 0px 0px;
        .rating {
          margin: 45%;
          display: inline;
          transition: all 0.5s ease-in-out;
          .fa:hover {
            color: $light-grey;
            cursor: pointer;
          }
          .subtitle{
            text-align: center;
          }
        }
      }
      .location{
        margin: 3px;
        font-size: 8px;
      }
    }

    .card-toggle {
      margin-top: 10px;
      transition: 0.5s all ease-in-out !important;

      .fa-chevron-up {
        transition: all .5s ease-in-out;
        position: relative;
        top: 5px;
        left: 45%;
      }
      .chev-rotate {
        transition: 2s all ease-in-out;
        transform: rotate(180deg);
      }
    }

    .subtitle {
      margin-bottom: 5px;
    }

    .card-image {
      z-index: 1;
      height: 100%;
      text-align: center;
      overflow: hidden;
      text-align: center;
      transition: 2s all ease-in-out !important;

      img {
        width: 280px; 
        transition: 2s all ease-in-out !important;

      }
    }
  }
}

.columns {
  justify-content: center;
}