.cards {
  margin: 7% 10%;
  transition: 2s all ease-in-out !important;
  .card {
    margin: 30px 20px 10px;
    width: 22%;
    min-width: 200px;
    max-width: 300px;
    min-height: 300px;
    display: inline-block;
    border: 0.5px solid $light-grey;
    box-shadow: none;
    background-color: #fff;
    overflow: none;
    transition: 2s all ease-in-out !important;

    .content-container {
      z-index: 20;
      margin-bottom: 10px;
      background-color: white;
      transition: 0.5s all ease-in-out;
      
      &.expanded {
        transition: 2s all ease-in-out !important;
        margin: 0% !important;
        height: 300px !important;
        .card-image {
          height: 0% !important;
          overflow: hidden !important;
          transition: 0.5s all ease-in-out !important;
        }
        .content {
          transition: all 0.5s ease-in-out !important;
        }
      }

      .icon-container {
        z-index: 100;
        background-color: white;
        text-align: center;
        padding: 10px;
        
        a {
          background-color: white;
          .card-toggle {
            cursor: pointer;
            background-color: white;
          } 
        }
      }
    }

    .card-content {
      padding: 0;
      z-index: 10;
      transition: 0.5s all ease-in-out !important;

      .duration {
      font-size: .7em;
      }
      .media{
        margin: 0px;
      }
    }

    a {
      color: $green;
      &:hover {
        color: $dark-green;
      } 
    }
    .content {
      height: auto;
    }

    .fa-star {
      position: relative;
      top: 12px;
      color: $orange;
      box-shadow: 1px grey;
      &:hover{
        color: $dark-orange;
        cursor: pointer;
      }
    }

    .title {
      font-size: 1.1em;
    }

    .subtitle {
      font-size: .9em;
    }

    small {
      font-style: italic;
      font-size: .7em;
    }

    .card-details {
      display: none;
      font-size: 0.8em;
      padding-top: 10px;
      line-height: 15px;
      transition: 2s all ease-in-out;
      .description{
        transition: all 0.5s ease-in-out;
        font-size: 1em;
        padding-top: 8px;
        .rating {
          display: inline;
          margin: 40%;
          transition: all 0.5s ease-in-out;
        }
      }
    }

    .card-toggle {
      margin-top: 10px;
      transition: 0.5s all ease-in-out !important;

      .fa-chevron-up {
        transition: all 1s ease-in-out;
        position: relative;
        top: 5px;
        left: 45%;
      }
      .chev-rotate {
        transition: 2s all ease-in-out;
        transform: rotate(180deg);
      }
    }

    .subtitle {
      margin-bottom: 5px;
    }

    .card-image {
      z-index: 1;
      height: 100%;
      text-align: center;
      overflow: hidden;
      text-align: center;
      transition: 2s all ease-in-out !important;

      img {
        width: 280px; 
        transition: 2s all ease-in-out !important;

      }
    }
  }
}

.columns {
  justify-content: center;
}