.columns{
  margin-top: 7rem;
  margin-left: 1rem;
  margin-right: 1rem;
  .morning {
    margin-top: 1rem;
    height:80px;
  }
  .afternoon {
    margin-top: 12rem;
    height:80px;
  }
  .night {
    margin-top: 12rem;
    height:80px;
  }
  .media-content.large{
    height:10rem;
  }
  .fa {
  color:$green;
  }
  .article.media.large{
      height: 10rem;
  }

}

.itinerary-time{
  width: 2%;
  .fa {
    padding-bottom: 400px;
    font-size: 60px;
    color: #333;
    font-weight: 1px;
  }
}
.welcome {
  padding:10px;
  margin-right: 2rem;
  float: right;
  border-bottom: 0.5px solid $orange;
}

.box {
  margin: 10px;
}