.landing-content{
  margin-top: 80px;
  margin-bottom: 180px;
  .columns {
    margin-top:0px;
  }
.input {
  border-color:$dark-orange;
  &:focus{
    border-color:$green;
  }
}
  .brand img {
    width: 80%;
  }
}
