.navbar {
  height: 5rem;
    .button {
      border-color: #363636;
      border-radius: 10px;
      color: #363636;
      background-color:#363636
    }
    .button:hover, .button.is-hovered {
    border-color: #01BABD;
    color: #01BABD;
    background-color:#01BABD;
    } 
    .fa-pencil-square:before {
      color:white;
      
  }
}