.navbar {
  position: fixed;
  top:0;
  right:0;
  left: 0;
  height: 100px;
  z-index: 100;
  height: 4rem;
  padding-left: 10px;
  .navbar-brand {
    margin: 13px 30px;
    .itinerary {
      overflow: hidden;
      a {
        transition: all 0.1s ease-in-out;
        color: $dark-grey;
        &:hover {
          border-color: $green;
          color: $green;
          cursor: pointer;
        }
      }
      .fa {
        display: inline;
      }
    }
  }
  @media screen and (max-width: 400px) {
    overflow: hidden;
    .navbar-brand{
      margin: auto;
      display: inline-block;
    }
  }
}

.fa-share-square-o{
  transform: rotate(180deg) !important;
}