.navbar {
  height: 5rem;
  padding-left: 10px;
  .navbar-brand {
    margin: 13px 30px;
    .itinerary {
      overflow: hidden;
      a {
        transition: all 0.1s ease-in-out;
        color: $dark-grey;
        &:hover {
          border-color: $green;
          color: $green;
          cursor: pointer;
        }
      }
      .fa {
        display: inline;
      }
    }
    .calendar {
      overflow: hidden;
      a {
        transition: all 0.1s ease-in-out;
        color: $dark-grey;
        &:hover {
          border-color: $green;
          color: $green;
          cursor: pointer;
        }
      }
      .fa {
        display: inline;
      }
    }
  }
  @media screen and (max-width: 999px) {
    overflow: visible;
    .navbar-brand{
      margin: auto;
      display: inline-block;
    }
  }
}