.modal {
  margin: none;

  .modal-background {
    background-color: white;
    opacity: 0.1;
  }
  .title{
    color: $dark-grey;
  }
  .fa {
    color: black;
  }
  .button {
    border-color: $green;
    &:hover{
      border-color: black;
    }
  }
}