$green: darken(#00CFBF, 1%);
$light-green: #B5EDA0;
$pale-green: #AADDD5;
$dark-green: darken($green, 5%);
$orange: #FCB737;
$dark-orange: darken($orange, 10%);
$light-grey: #CCCCCC;
$medium-grey: darken($light-grey, 40%);
$dark-grey: #363636;
$dark-pink: darken(pink, 10%);

$datepicker__background-color: #f0f0f0 !default;
$datepicker__border-color: $light-grey !default;
$datepicker__highlighted-color: #3dcc4a !default;
$datepicker__muted-color: #363636 !default;
$datepicker__selected-color: pink !default;
$datepicker__text-color: #000 !default;

$datepicker__border-radius: .3rem !default;
$datepicker__day-margin: .166rem !default;
$datepicker__font-size: .8rem !default;
$datepicker__item-size: 1.7rem !default;
$datepicker__margin: .4rem !default;
$datepicker__navigation-size: .45rem !default;
$datepicker__triangle-size: 10px !default;

@import './index/indexCard';
@import './index/addCard';
@import './navbar/navbar';
@import './index/filters';
@import './index/index';
@import './itinerary/favoriteBar';
@import './itinerary/sortableComponent';
@import './auth/googleLogin';
@import './auth/signInindex';
@import './itinerary/itineraryCard';
// @import 'pageToggle';
@import './itinerary/settingTime';
@import './itinerary/set';
@import './itinerary/timeSet';
@import './itinerary/itineraryIndex';

.is-rotated {
  transform: rotate(180deg);
}

.visible {
  height: 100% !important;
}


.is-green{
 color: $green;
}
.is-orange{
  color: $orange;
}
.is-pink{
  color: $dark-pink;
}
.is-grey{
 color: $dark-grey;
}
